<div class="wrapper">
    <div class="container">
        <div class="row">
            <div class="col-lg-offset-2 col-lg-8">
                <div class="panel panel-color panel-primary">
                    <div class="panel-heading">
                        <h4 class="panel-title text-center">&nbsp;</h4>
                    </div>
                    <div class="panel-body">
                        <form id="commentForm" class="form-horizontal">
                            <div id="rootwizard" class="pull-in">
                                <ul class="nav nav-tabs navtab-custom nav-justified bg-muted">
                                    <li ng-class="{active: regis.currentPage == 1}"><a>ประวัติ</a></li>
                                    <li ng-class="{active: regis.currentPage == 2}"><a>ที่อยู่</a></li>
                                    <li ng-class="{active: regis.currentPage == 3}"><a>สมัครสอบ</a></li>
                                </ul>
                                <div class="tab-content m-b-0 bx-s-0">

                                    <div class="tab-pane fade" ng-class="{active: regis.currentPage == 1, in: regis.currentPage == 1}" id="first">
                                        <div class="form-group">
                                            <label class="col-sm-2 control-label">ชื่อ</label>
                                            <div class="col-sm-3">
                                                <input type="text" class="form-control" ng-model="firstName" ng-class="{'parsley-error': firstNameValid}">
                                                <ul class="parsley-errors-list filled" ng-show="firstNameValid">
                                                    <li class="parsley-required">กรุณากรอกชื่อ</li>
                                                </ul>
                                            </div>
                                            <label class="col-sm-2 control-label">สกุล</label>
                                            <div class="col-sm-3">
                                                <input type="text" class="form-control" ng-model="lastName" ng-class="{'parsley-error': lastNameValid}">
                                                <ul class="parsley-errors-list filled" ng-show="lastNameValid">
                                                    <li class="parsley-required">กรุณากรอกนามสกุล</li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-2 control-label">เรียนอยู่ชั้น</label>
                                            <div class="col-sm-3">
                                                <input type="text" class="form-control" ng-model="studyClass">
                                            </div>
                                            <label class="col-sm-2 control-label">เกรดเฉลี่ย</label>
                                            <div class="col-sm-3">
                                                <input type="text" class="form-control" ng-model="avgGrade" >
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-2 control-label">โรงเรียน</label>
                                            <div class="col-sm-8">
                                                <input type="text" class="form-control" ng-model="studyClass">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-2 control-label">จังหวัด</label>
                                            <div class="col-sm-3">
                                                <input type="text" class="form-control" ng-model="studyClass">
                                            </div>
                                            <label class="col-sm-2 control-label">รหัสโรงเรียน</label>
                                            <div class="col-sm-3">
                                                <input type="text" class="form-control" ng-model="avgGrade" >
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-3 control-label">เลขประจำตัวประชาชน</label>
                                            <div class="col-sm-7">
                                                <input type="text" class="form-control" ng-model="studyClass">
                                            </div>
                                        </div>
                                    </div>

                                    <div class="tab-pane fade" ng-class="{active: regis.currentPage == 2, in: regis.currentPage == 2}" id="second">
                                        <div class="control-group">
                                            <label class="control-label" for="urlfield">URL</label>
                                            <div class="controls">
                                                <input type="text" id="urlfield" name="urlfield" class="required url form-control" aria-required="true">
                                            </div>
                                        </div>
                                    </div>

                                    <div class="tab-pane fade" ng-class="{active: regis.currentPage == 3, in: regis.currentPage == 3}" id="third">
                                        <div class="form-group clearfix">
                                            <div class="col-lg-12">
                                                <div class="checkbox checkbox-primary">
                                                    <input id="checkbox-h3" type="checkbox">
                                                    <label for="checkbox-h3">
                                                            I agree with the Terms and Conditions.
                                                        </label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <br/>          
                                    <ul class="pager m-b-0 wizard">
                                        <li class="previous" ng-class="{disabled : regis.currentPage == 1}"><a href class="btn btn-primary waves-effect waves-light" ng-click="regis.previousPage()">ย้อนกลับ</a></li>
                                        <li class="next" ng-show="regis.currentPage != 3"><a href class="btn btn-primary waves-effect waves-light" ng-click="regis.nextPage()">ถัดไป</a></li>
                                        <li class="next" ng-show="regis.currentPage == 3"><a href class="btn btn-primary waves-effect waves-light" ng-click="regis.confirmPage()">ยืนยัน</a></li>
                                    </ul>

                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>