<div class="wrapper-page">
    <div class="panel panel-color panel-primary">
        <div class="panel-heading">
            <h4 class="panel-title text-center">&nbsp;</h4>
        </div>
        <div class="panel-body">
            <form class="form-horizontal m-t-20">
                <div class="form-group">
                    <div class="col-xs-12">
                        <input class="form-control" type="text" required="" placeholder="ชื่อผู้ใช้">
                        <i class="fa fa-user form-control-feedback l-h-34"></i>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-xs-12">
                        <input class="form-control" type="password" required="" placeholder="รหัสผ่าน">
                        <i class="fa fa-key form-control-feedback l-h-34"></i>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-xs-12">
                        <div class="checkbox checkbox-primary">
                            <input id="checkbox-signup" type="checkbox">
                            <label for="checkbox-signup">
                                จดจำรหัสผ่าน
                            </label>
                        </div>

                    </div>
                </div>

                <div class="form-group">
                    <div class="col-xs-12">
                        <button class="btn btn-primary btn-block btn-custom w-md waves-effect waves-light" type="submit">เข้าสู่ระบบ
                        </button>
                    </div>
                </div>

            </form>
        </div>
        <div class="panel-footer">
            <div class="form-group text-center">
                <div class="col-sm-6 ">
                    <a href ui-sref="register" class="text-muted"><i class="fa fa-user m-r-5"></i>สมัครสมาชิก</a>
                </div>
                <div class="col-sm-6">
                    <a href class="text-muted"><i class="fa fa-question m-r-5"></i>ลืมรหัสผ่าน</a>
                </div>
            </div>
        </div>
    </div>
</div>